@import "../../commonStyles/variables.scss";

.conteiner-bannerMain {
    display: flex;
    justify-content: space-between;
    background-color: $backgroundMainColor;
    
    height: $heightMain;

    border-radius: 32px;
}

.conteiner-bannerMain__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 5%;
    
    width: 50%;
}

.bannerMain__title {
    margin-block-start: 0;
    margin-block-end: 0;

    font-family: $fontTitle;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
}

.bannerMain_text {
    font-family: $fontRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}


.container-bannerMain__item-image {
    width: 647px;
    height: 550px;
}