@import '../../commonStyles/variables.scss';
@mixin flexVerticalCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    justify-content: space-around;
    @include flexVerticalCenter;
}

.header__logo {

    margin: 20px 2%;
    width: auto;
    height: 21px;
}

.nav__list {
    @include flexVerticalCenter;
    width: 40vw;
    justify-content: space-around;
}

.nav__item {
    list-style-type: none;
    font-family: $fontRegular;
    font-size: 14px;
}