$fontRegular: 'Inter', sans-serif;
$fontTitle:'Readex Pro', sans-serif;

$backgroundMainColor: #DCE5E2;
$backgroundColorPage :#F5F5F5;
$backgroundColorCard :#eaebec;


$heightMain: 550px;

$marginPage: 5px 5%;