@import "../../commonStyles/variables.scss";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 5%;
    border-top: 1px solid $colorLineFooter;

    background-color: $backgroundColorFooter;
}
.footer__logo {
    width: 170px;
    height: 21px;
}

.footer__text {
    font-family: $fontRegular;
    font-size: 16px;
}